:root {
  --swiper-theme-color: #006a6e;
  --swiper-pagination-top: calc(100% - 1.2em);
  --lime-color: #ffdd00;
  --main-black-color: #323747;
  --dark-green-color: #006a6e;
  --text-grey: #8c8e96;
}

.text-h2 {
  margin: 0;
  font-weight: 600;
  font-size: 2em;
  line-height: 130%;
  color: #323747;
}
